html,body {
  padding-top: 0px;
  padding-bottom: 20px;
  background-color:#b2bbbf;
  height:100%;
}

.navbar {
  margin-bottom: 20px;
}

.scrollmenu
{
	overflow:scroll;
}

.icon30{
	font-size:30px;
	vertical-align:middle;

}


#tabCate .panel-body{

	padding:0px;

}

.iconTable {

	height:50px;
	width:110px;
	
	margin-top:5px;
	margin-left:5px;
	margin-right:0px;
	
	float:left;
	/*height:50px;*/
}

.iconCate
{
	float:left;
	height:80px;	
	width:150px;
	margin:5px;
}


.menucategory{
	
	/* padding-top:5px;
	padding-bottom:5px; */
	width:100%;
	
}



.iconMenu
{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	margin-bottom:15px;
}

.iconMenu img {  display:inline-block; }

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.scrollitem
{
	overflow:auto;
	overflow-x: hidden;
}

.height200
{
	height:200px;
}

.height300{
	height:300px;
}

.height400
{
	height:400px;
}

.height500
{
	height:500px;
}

.panel-green {
	background:#E3F6CE;
	color:white;
}

.row-buffer{
	margin-bottom:10px;
}