/* tablet */
@media (max-width:1024px)
{
	
	.iconTable{
		
		width:100%;
		margin-top:5px;
		margin-left:5px;

	}
	
	#tabCate s {
		/*
		margin:0px;
		width:50%; 
		float:left;*/
	}
}



/*mobile*/
@media (max-width:768px)
{

	#tabCate .panel-body {
		height:200px;
	}

	#tabCate .panel-body .btn {
		margin:0px;
		float:left;
		width:25%;
	}

	#tabProd .panel-body .btn {
		margin:5px;
		width:25%;
	}


	.iconTable{
		/*width:200px;*/
		width:80px;
	}
	

	.iconCate{
		width:100%;
	}
	
	
	#orderitem{
		/* height:300px;*/
	}
	
}