/* tablet */
@media (max-width:1024px)
{
	
	.iconTable{
		
		width:100%;
		margin-top:5px;
		margin-left:5px;

	}
	/*
	#tabCate s {
		
		/ *width:50%;* /
		float:left;
	}*/
}



/*mobile*/
@media (max-width:768px)
{

	.iconTable{
		/*width:200px;*/
		width:80px;
	}
	
	.iconCate{
		width:100%;
	}
	
	
	#orderitem{
		/* height:300px;*/
	}
}